bitstring==3.1.9
blspy==1.0.5
chiabip158==1.0
click==8.0.1
clvm==0.9.7
clvm-tools==0.4.3
clvm_rs==0.1.8
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==23.0.1
MarkupSafe==2.0.1
p5py==1.0.0
pep517==0.11.0
pybind11==2.7.0
setuptools-scm==6.0.1
tomli==1.1.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
